.container{
    width: 90%;
    margin: auto;
}
.container__fluid{
    width: 100%;
    margin: auto;
}


.btn{
    background: $background__btn;
    border: 0;
    padding: 1.3rem 2rem;
    color: $white;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    // transition: 0.5s all;
    &:hover{
        background: $background__btn__hover;
    }
}